<footer class="footer">
  <div class="colunm one">
    <span>Copyright © 2022 All Rights Reserved by IsaqueSilva.</span>
  </div>
  <div class="colunm two">
    <fa-icon [icon]="gh" (click)="openUrl('https://github.com/IsaqueSantosSilva/Minificador-de-Codigo')"></fa-icon>
    <fa-icon [icon]="wpp" (click)="openUrl('https://api.whatsapp.com/send?phone=558296492140&text=sua%20mensagem')"></fa-icon>
    <fa-icon [icon]="user" (click)="openUrl('http://isaquesilva.infinityfreeapp.com/myPortofolio/')"></fa-icon>
    <fa-icon [icon]="linkedin" (click)="openUrl('https://www.linkedin.com/in/isaque-silva-63843a202/')"></fa-icon>
  </div>
</footer>
