<div class="container">
    <button routerLink="/html-minifier" routerLinkActive="active" (click)="setUrl('/html-minifier')">
        <i class="fab fa-html5"></i>
        <fa-icon [icon]="html"></fa-icon>
    </button>
    <button routerLink="/css-minifier" routerLinkActive="active" (click)="setUrl('/css-minifier')">
        <fa-icon [icon]="css"></fa-icon>
    </button>
    <button routerLink="/js-minifier" routerLinkActive="active" (click)="setUrl('/js-minifier')">
        <fa-icon [icon]="js"></fa-icon>
    </button>
</div>
